.page {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.page .sidebar {
  width: 200px;
  box-shadow: 0 0 10px black;
}
.page img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
  border: var(--grey-color) 2px solid;
}
.sidebar h3 {
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: -10px;
}
ul li {
  padding: 5px;
  margin: 15px auto;
  font-size: 18px;
  transition: 0.3s;
  width: 150px;
}
ul li:hover {
  background-color: rgba(0, 0, 0, 0.381);
  border-radius: 10px;
}
i {
  color: #fff;
}
@media (max-width: 767px) {
  .page .sidebar {
    width: 90px;
    padding: 10px;
  }
  .page .sidebar h3{
    padding-left: 5px;
  }
  .page .sidebar h3,
  .page .sidebar h5 {
    font-size: 13px;
    text-align: center;
    text-decoration: none;
  }
  .sidebar ul li {
    margin: 10px;
    width: 40px;
    padding: 10px;
  }
  .sidebar ul li a span {
    display: none;
  }
}
