<div class="page d-flex">
  <div class="sidebar bg-dark p-relative">
    <div class="text-center">
      <img src="../../assets/Photo.jpg" alt="">
      <h3 class="c-fff">Abanoub Shenouda</h3>
      <h5 class="c-blue fw-bolder fs-5">Admin</h5>
    </div>
    <ul>
      <li>
        <a class="d-flex align-items-center justify-content-between" routerLink="home" routerLinkActive="bg-active">
          <i class="fa-regular fa-chart-bar fa-fw"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center justify-content-between" routerLink="settings" routerLinkActive="bg-active">
          <i class="fa-solid fa-gear fa-fw"></i>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center justify-content-between" routerLink="profile" routerLinkActive="bg-active">
          <i class="fa-regular fa-user fa-fw"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center justify-content-between" routerLink="contacts" routerLinkActive="bg-active">
          <i class="fa-regular fa-address-book"></i>
          <span>Contacts</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center justify-content-between" routerLink="barchart" routerLinkActive="bg-active">
          <i class="fa-solid fa-chart-column"></i>
          <span>Bar Chart</span>
        </a>
      </li>

      <li>
        <a class="d-flex align-items-center justify-content-between" routerLink="linechart" routerLinkActive="bg-active">
          <i class="fa-solid fa-chart-line"></i>
          <span>Line Chart</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center justify-content-between" routerLink="piechart" routerLinkActive="bg-active">
          <i class="fa-solid fa-chart-pie"></i>
          <span>Pie Chart</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-items-center justify-content-between" routerLink="files" routerLinkActive="bg-active">
          <i class="fa-regular fa-file fa-fw"></i>
          <span>Files</span>
        </a>
      </li>
    </ul>
  </div>
</div>
