<h3 class="c-blue fs-1 fw-bolder">Profile</h3>
<div class="row ustify-content-center">
  <div class="col-12 col-md-8 col-lg-12">
    <div class="card bg-dark">
      <div class="card-body">
        <div class="d-flex flex-column flex-md-row align-items-center info">
          <img src="../../../assets/Photo.jpg" alt="Photo" class="img-fluid" style="max-width: 100px;">
          <div class="c-fff ms-md-4 mt-4 mt-md-0 title text-center text-md-start">
            <h2 class="mb-5 fw-bolder">Abanoub Shenouda Mousa</h2>
            <h4>Front-End Developer ( Angular )</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 mt-3">
    <div class="card bg-dark">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <a href="{{linkedin}}" target="_blank">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
          <div>
            <a href="{{gitHub}}" target="_blank">
              <i class="fa-brands fa-github"></i>
            </a>
          </div>
          <div>
            <a href="mailto:{{mail}}" target="_blank">
              <i class="fa-solid fa-envelope"></i>
            </a>
          </div>
          <div>
            <a href="">
              <span>CV</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 mt-3">
    <div class="card bg-dark">
      <div class="card-body c-fff">
        <h3 class="c-blue fw-bolder fs-1 mb-4 skill">Skills</h3>
        <div class="row">
          <div class="col-sm-3">
            <p>Angular</p>
          </div>
          <div class="col-sm-3">
            <p>HTML/CSS</p>
          </div>
          <div class="col-sm-3">
            <p>JavaScript</p>
          </div>
          <div class="col-sm-3">
            <p>TypeScript</p>
          </div>
          <div class="col-sm-3">
            <p>jQuery</p>
          </div>
          <div class="col-sm-3">
            <p>bootStrap</p>
          </div>
          <div class="col-sm-3">
            <p>SASS</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

