img {
  border-radius: 50%;
  object-fit: cover;
}
i, span{
  font-size: 50px;
  padding: 25px;
  transition: 0.3s;
}
p {
  font-size: 25px;
  padding: 10px;
  text-align: center;
}
i:hover,
span:hover {
  background-color: black;
  border-radius: 50%;
}
p:hover {
  background-color: black;
  border-radius: 10px;
}
@media (max-width: 560px) {
  /* .info img {
    display: none;
  }
  .info h2 {
    font-size: 20px;
  }
  .info h4 {
    font-size: 29px;
  } */
  i, span {
    padding: 10px;
    font-size: 30px;
  }
  .skill {
    text-align: center;
  }
}
