.file {
  border: 1px solid gray;
  border-radius: 10px;
}
.file .pdf {
  transition: 0.3s;
}
.file:hover .pdf {
  transform: rotate(30deg);
}
.statis {
  border-bottom: 1px solid gray;
  transition: 0.3s;
  cursor: pointer;
}
.statis:hover {
  background-color: rgba(128, 128, 128, 0.196);
}
i {
  color: var(--blue-alt-color) !important;
}
button:hover {
  background-color: var(--blue-alt-color);
  color: #fff;
}
